*{
  padding: 0;
  margin: 0 auto;
}

body{
  background-color: #458686;
}
.HoleBody{
  width: 1170px;
  margin: auto;
}
.smallHeader img{
  width: 100px;
  height: 40px;
  float: left;
  margin: 10px;
}

.smallHeader{
  background-color: #458686;
  width: 100%;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.headerlist li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
}


.headerlist{
  float: right;
  margin-right: 100px;
  margin-top: 10px;

}
.BigHeader{
  background-color: #6BB95F;
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.BigHeader h1{
  position: relative;
  top: 20px;
  font-family: "sans-serif";
}

.Content img{
  float: right;
  width:400px;
  height: 250px;
  margin-left:10px;
  margin-right: 10px;

}
.content2 img{
  float: right;
  width:400px;
  height: 250px;
  margin-left:10px;
  margin-right: 10px;
}


.Content{
  background-color: #7A8D9F;
  width: 100%;
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 2px black;
  border-top:solid 2px black;
}
.content2{
  background-color: #8985AA;
  width: 100%;
  height: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom:solid 2px black;
  border-top:solid 2px black;
}

.paragraph{
  width: 60%;
  padding-left:20px;
  position: relative;
  top: 30px;
  float: left;
}

.contentheader{
  width: 200px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  right: 250px;
}

.Footer{
  width: 100%;
  height: 40px;
  clear: both;
  text-align: center;
  background-color: black;
  color: white;

}
a{
  text-decoration: none;
  color: purple;
}
a:hover{
  color: #D1E5AB;
}

/* ------------------- */

.printer img{
  width: 100px;
  height: 63px;
  float: left;
  padding: 10px;
  margin-left: 35%;
  margin-top: 10px;
}
.printer{
  width: 32.99%;
  height: 100%;
  float: left;
  border:solid 2px black;

}
.info{
  clear: both;

  text-align: center;
  width: 100%;
  float: left;
}

.info ul,li{
  list-style-type: square;
  text-align: left;
  position: relative;
  left: 70px;
}
/* ------------------- */
.Form{
  background-color: #D1E5AB;
  width: 100%;
  min-width:400px;
  padding-left: 20px;
  /* margin: 30px; */
  border: solid 5px black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input{
  display: inline-block;
  width: 90%;
  margin: 10px;
  border: solid 1px #458686;
  border-radius: 5px;
  padding:5px;

}

.submit{
  display: block;
  padding: 10px;
  margin: 0 auto;
  color: black;
  border:solid 2px black;
  margin-bottom: 10px;
  border-radius: 5px;
}
.submit:hover{
  cursor: pointer;
  background-color: #D1E5AB;
  color:#551A8B;
}

.radio{
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 50px;
}

label,label div{
  padding-left: 5px;
}
.input:focus{
  background-color:#6BB95F;
  color: #551A8B;
}

.headerbuyform{
  color: #551A8B;
  width: 90%;
  margin: 10px;
  text-align: center;
}

select,textarea{
  width: 90%;
  margin: 10px;
  border: solid 1px #458686;
  border-radius: 5px;
  padding:5px;
}

select:focus{
  background-color:#6BB95F;
  color: #551A8B;
}

textarea:focus{
  background-color:#6BB95F;
  color: #551A8B;
}

#star{
  color: red;
}

#star:hover{
  color: #D1E5AB;
}

.printerPrice{
  color: purple;
  margin-top: 5px;
}

.map{
  color: purple;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin:0 auto;
}
